/* #region [1] VARIABLES */
:root{
    --wht: #eee;
    --gry: #ccc;
    --blk: #2f2f2f;
    --carbon: #333;
    --lily: #FF5A3C;
    --blue: #00609F;
}
/* #endregion */

/* #region [2] GENERAL */
body{
    margin:0;
    padding:0;
    font-family:'Titillium Web', 'Roboto', sans-serif;
    color: var(--carbon);
}
.main{
    width: 100vw;
    height: 100vh;
    max-height: 100%;
    max-width: 100%;
    background: rgb(204,204,204);
    background: radial-gradient(circle, rgba(204,204,204,1) 0%, rgba(172,171,171,1) 51%, rgba(158,158,161,1) 100%);
}

#listener{
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    bottom: 0;
}

.scroll{
    height: 0;
    width: 100%;
    position: absolute;
    transition: height 0.5s ease-in-out, width 0.5s ease-out;
    overflow: hidden;
    text-align: center;
}

.scroll h2{
    font-size: 2rem;
    margin: 10px 0;
}

.logo{
    width:100%;
    height: 100%;
}

.sec-50{
    box-sizing: border-box;
    width: 30%;
    min-width: 300px;
}

.sec-50 img{
    min-width: 400px;
    width: 100%;
}

.icon-action{
    position:absolute;
    bottom: 0;
    height: 5%;
    width: 100%;
    background-color: var(--carbon);
}

/* #endregion */

/* #region [3] UTILITIES */

.top{
    top: 0;
}

.bottom{
    bottom: 0;
}

.fnt-wht{
    color:var(--wht);
}

.fnt-s-1r{
    font-size: 1rem;
}

.fnt-s-15r{
    font-size: 1.5rem;
}

.fnt-s-2r{
    font-size: 2rem;
}

.wt-l{
    width: 0;
    left: 0;
}

.wt-r{
    width: 0;
    right: 0;
}

.slide{
    height: 100%;
    width: 100%;
}

.fl-l{
    float: left;
    margin: 150px 0 0 150px; 
}

.fl-r{
 float: right; 
 margin: 150px 150px 0 50px;  
}

.btn{
    text-align: center;
    display: inline-block;
    color: var(--wht);
    border: 1px solid var(--wht);
    width: 100px;
    height: 30px;
    background-color: transparent;
    border-radius: 8px;
    transition: background-color 0.5s ease-out;
}

.btn:hover{
    color: #3C3B3F;
    background-color: var(--wht);
}

.wh-100{
    width: 100%;
    height: 100%;
}
.center{
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.c-X{
    left: 50%;
    transform: translateX(-50%)
}

.c-Y{
    top: 50%;
    transform: translateY(-50%)
}

.m-auto{
    margin: auto;
}

.mp-0{
    margin:0;
    padding:0;
}

.clear-fix::after{
    content:"";
    display: block;
    float: both;
}

/* #endregion */

/* #region [4] ANIMATIONS */
.breath{
    animation: bt .95s ease-in 1.25s alternate infinite;
}

@keyframes bt {
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.01);
    }
}

.async{
    animation-delay: 0.65ms;
}
/* #endregion */

/* #region [5] QUERYES */
@media screen and (max-width: 650px){


}
/* #endregion */

/* #region [6] LAYOUT-HELPERS */
.ret{
    border: 1px solid darkmagenta;
    background-color: rgba(0, 255, 127, 10%);
}

.ret *{
    border: 1px solid blue;
}

.ret div{
    border: 1px solid #adff2f;
    background-color: rgba(255, 0, 0, 25%);
}


.cw{
    border: 1px solid white;
}

.bc3{
    background-color: var(--lily);
}

.bc{
    background-color: var(--carbon);
}

.bc2{
    background-color: var(--gry);
}
/* #endregion */
