/* #region [1] VARIABLES */
:root{
    --wht: #eee;
    --gry: #ccc;
    --blk: #2f2f2f;
    --carbon: #333;
    --lily: #FF5A3C;
    --blue: #00609F;
}
/* #endregion */

/* #region [2] GENERAL */
body{
    margin:0;
    padding:0;
    font-family:'Titillium Web', 'Roboto', sans-serif;
    color: var(--carbon);
}
.main{
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    max-height: 100%;
    max-width: 100%;
    background: rgb(204,204,204);
    background: radial-gradient(circle, rgba(204,204,204,1) 0%, rgba(172,171,171,1) 51%, rgba(158,158,161,1) 100%);
    position: absolute;
    overflow:hidden;
}

.scroll{
    height: 0;
    width: 100%;
    position: absolute;
    transition: height 0.5s ease-in-out, width 0.5s ease-out;
    overflow: hidden;
    text-align: center;
}

.scroll h2{
    font-size: 2rem;
    margin: 10px 0;
}

.logo{
    box-sizing: border-box;
    margin: 30px;
}

.sec-60-1{
    box-sizing: border-box;
    width: 60%;
    height: 50%;
}

.sec-60-2{
    box-sizing: border-box;
    width: 60%;
    height: 30%;
    text-align: center;
}

.sec-60-2 h2{
    margin: 0;
    padding: 0;
    font-size: 2rem;
    font-weight: 500;
    color: var(--carbon);
}

.sec-60-2 p{
    padding: 0;
    margin: 0;
    font-size: 1.5rem;
    font-weight: 100;
    color: var(--carbon);
}

.sec-comment{
    width: 80%;
    height: 95%;
    padding-top: 5%;
}

.sec-60-3{
    box-sizing: border-box;
    width: 60%;
    height: 20%;
    position: relative;
}

.sec-40{
    box-sizing: border-box;
    width: 40%;
    height: 100%;
    position: relative;
    padding-top: 10%;
}

.sec-40 img{
    max-width: 70%;
    max-height: 70%;
    margin-right: 10px;
}

.sec-w100{
    box-sizing: border-box;
    width: 100%;
    height: 10%;
    position: relative;
}

.sec-h80{
    height: 80%;
    position: relative;
}

.sec-80{
    width: 80%;
    height: 60%;
}

.sec-50{
    box-sizing: border-box;
    width: 50%;
    height: 33%;
}

.sec-w40-h40{
    box-sizing: border-box;
    width: 40%;
    height: 40%;
    padding: 30px;
}

.acercade{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    border: 2px solid var(--carbon);
    margin: auto;
}
.sec-sociales{
    box-sizing: border-box;
    width: 80%;
    height: 30%;
    padding: 30px;
}

.icon{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

.sec-sociales a{
    box-sizing: border-box;
    display: block;
    float: left;
    width: 25%;
    height: 100%;
    text-decoration: none;
}

.fl-l{
    float: left;
}

.fl-r{
    float: right;
}

.effect{
    display: inline-block;
    height: 35px;
    width: 160px;
    border-right: 12px solid var(--lily);
    border-left: 12px solid var(--lily);
    overflow: hidden;
    text-align: center;
    line-height: 1;
}

/* #endregion */

/* #region [3] UTILITIES */
.fnt-wht{
    color:var(--wht);
}

.fnt-gry{
    color:var(--gry);
}

.fnt-s-1r{
    font-size: 1rem;
}

.fnt-s-15r{
    font-size: 1.5rem;
}

.fnt-s-2r{
    font-size: 2rem;
    margin-bottom: 0;
}

.fnt-w100{
    font-weight: 100;
}

.fnt-w300{
    font-weight: 600;
}

.fnt-w300i{
    font-weight: 300;
    font-style: italic;
}

.fnt-w600{
    font-style: normal;
    font-weight: 600;
}

.top{
    top:0;
}

.bottom{
    bottom:0;
}

.wt-l{
    width: 0;
    left: 0;
}

.wt-r{
    width: 0;
    right: 0;
}

.slide{
    height: 100%;
    width: 100%;
}

.btn{
    text-align: center;
    text-decoration: none;
    display: inline-block;
    color: var(--carbon);
    border: 1px solid var(--carbon);
    width: 150px;
    height: 45px;
    background-color: transparent;
    border-radius: 8px;
    transition: background-color 0.5s ease-out;
    font-weight: 500;
}

.btn:hover{
    color: var(--wht);
    background-color: var(--carbon);
}

.btn span{
    display: block;
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.2rem;
}

.wh-100{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 30px;
}
.center{
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.c-X{
    left: 50%;
    transform: translateX(-50%)
}

.c-Y{
    top: 50%;
    transform: translateY(-50%)
}

.m-auto{
    margin: auto;
}

.mp-0{
    margin:0;
    padding:0;
}

.clear-fix::after{
    content:"";
    display: block;
    clear: both;
}

/* #endregion */

/* #region [4] ANIMATIONS */
.breath{
    animation: bt .95s ease-in 1.25s alternate infinite;
}

@keyframes bt {
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.01);
    }
}

.async{
    animation-delay: 0.65ms;
}

.anim{
    animation: type 3s ease-in 2s infinite alternate both;
}

@keyframes type{
    0%{
        width: 0;
    }
    20%{
        width: 160px;
    }
    100%{
        width: 160px;
    }
}

/* #endregion */

/* #region [5] QUERYES */
/* @media screen and (orientation: landscape){
    .sec-comment{
        width: 60%;
    }
} */
@media screen and (orientation: portrait){
    /* .sec-40{
        height: 90%;
    } */
    .sec-40 img{
        max-width: 80%;
        max-height: 80%,
        display: block;
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .min-10{
        height: 90%;
    }

    .sec-60-2{
        height: 40%;
    }

    .sec-60-3{
        width: 100%;
        height: 10%;
    }
    
    .sec-comment{
        width: 80%;
    }
}
/* #endregion */

/* #region [6] LAYOUT-HELPERS */
.ret{
    border: 1px solid darkmagenta;
    background-color: rgba(0, 255, 127, 10%);
}

.ret *{
    border: 1px solid blue;
}

.ret div{
    border: 1px solid #adff2f;
    background-color: rgba(255, 0, 0, 25%);
}


.cw{
    border: 1px solid red;
    background-color: rgba(75, 0, 130, 24%);
}

.bc3{
    background-color: var(--lily);
}

.bc{
    background-color: var(--carbon);
}

.bc2{
    background-color: var(--gry);
}
/* #endregion */
